.retu1{
    width: 100%;
    display: flex;
    justify-content: center;
}
input[type="text"] {
  width: 30%;
}
.harf{
    width: 100%;
    
}
.all{
    width: 60%;             
    margin: 0 auto;          
}
textarea{
    height: 1em;
}